<div class="table-item">
  <div [class.bold]="item.id === 'sections'">
    {{ item.id[0].toUpperCase() + item.id.slice(1) }}
  </div>
  <div class="table-item__actions">
    <div *ngIf="item.id === 'sections'; else otherSectionsName" class="actionsAll">
      <app-checkbox-item
        [checked]="item.view"
        [sectionName]="item.id"
        description='Check all'
        action='view'
      ></app-checkbox-item>
      <app-checkbox-item
        [checked]="item.edit"
        [sectionName]="item.id"
        description='Check all'
        action='edit'
        [disabled]="!item.view"
      ></app-checkbox-item>
      <app-checkbox-item
        [checked]="item.remove"
        [sectionName]="item.id"
        description='Check all'
        action='remove'
        [disabled]="!item.edit"
      ></app-checkbox-item>
    </div>
    <ng-template #otherSectionsName>
      <div class="actions">
        <app-checkbox-item
          [checked]="item.view"
          [sectionName]="item.id"
          description='View'
          action='view'
        ></app-checkbox-item>
        <app-checkbox-item
          [checked]="item.edit"
          [sectionName]="item.id"
          description='Edit'
          action='edit'
          [disabled]="!item.view"
        ></app-checkbox-item>
        <app-checkbox-item
          [checked]="item.remove"
          [sectionName]="item.id"
          description='Remove'
          action='remove'
          [disabled]="!item.edit"
        ></app-checkbox-item>
      </div>
    </ng-template>
  </div>
</div>
